body {
    background: url(images/background.jpg) no-repeat;
    background-size: 100%;
}

.profile {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    color: #fff;
    font-family: 'Exo 2', sans-serif;
}

.profile img {
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
}

.profile span, .profile a {
    display: block;
    margin: 10px 0;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
}

.profile a:hover, .profile a:active, .profile a:visited {
    color: #ffffff;
}

.profile a:hover {
    color: #7695c2;
}